body{
        background-color: #0c4c7d no-repeat fixed 100% 100%;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: #466368 ;
        background: -webkit-linear-gradient(#648880, #293f50) no-repeat fixed 100% 100%;
        background:    -moz-linear-gradient(#648880, #293f50) no-repeat fixed 100% 100%;
        background:         linear-gradient(#648880, #293f50) no-repeat fixed 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        }
p.mainContent{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
.heading{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
.avatar{
        width:100%;
        max-width:200px;
        height:auto;
        border: 2px dashed rgba(174, 56, 40, 0.788);
        border-radius: 12%;
        }
.ytbtn{
        border-color: rgb(164, 10, 10);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;
        background: #0f0f0f;
        display: inline-block;
        box-shadow: 0 5px#0f0f0f;
        cursor: pointer;
}
.ytbtn:hover{background-color: rgb(164, 10, 10);}
.ytbtn:active{background-color: rgb(199, 77, 77); box-shadow: 0 2.5px #0f0f0f; transform: translateY(2.5px);}

.stmbtn{
        border-color: rgb(7, 107, 187);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #c5c3c0;
        background-color: #171d25;
        display: inline-block;
        box-shadow: 0 5px #171d25;
        cursor: pointer;
}
.stmbtn:hover{background-color: #1a9fff;}
.stmbtn:active{background-color: #98d4ff; box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.sndbtn {
        border-color: rgb(254, 114, 24);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: #333;
        display: inline-block;
        box-shadow: 0 5px #333;
        cursor: pointer;
}
.sndbtn:hover{background-color: rgb(219, 97, 20);}
.sndbtn:active{background-color: rgb(254, 152, 89); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.xbtn {
        border-color: rgb(29, 155, 240);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(22, 24, 28);
        display: inline-block;
        box-shadow: 0 5px rgb(22, 24, 28);
        cursor: pointer;
}
.xbtn:hover{background-color: rgb(23, 130, 201);}
.xbtn:active{background-color: rgb(119, 193, 241); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.twitchbtn {
        border-color: rgb(169, 112, 255);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(14, 14, 16);
        display: inline-block;
        box-shadow: 0 5px rgb(14, 14, 16);
        cursor: pointer;
}
.twitchbtn:hover{background-color: rgb(146, 75, 252);}
.twitchbtn:active{background-color: rgb(201, 168, 251); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.ghbtn {
        border-color: rgb(230, 237, 243);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(13, 17, 23);
        display: inline-block;
        box-shadow: 0 5px rgb(13, 17, 23);
        cursor: pointer;
}
.ghbtn:hover{background-color: rgb(194, 219, 241);}
.ghbtn:active{background-color: rgb(147, 150, 152); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.redditbtn {
        border-color: rgb(255, 69, 0);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(14, 17, 19);
        display: inline-block;
        box-shadow: 0 5px rgb(14, 17, 19);
        cursor: pointer;
}
.redditbtn:hover{background-color: rgb(255, 152, 114);}
.redditbtn:active{background-color: rgb(104, 28, 0); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.spotbtn {
        border-color: rgb(28, 214, 97);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(21, 19, 19);
        display: inline-block;
        box-shadow: 0 5px rgb(21, 19, 19);
        cursor: pointer;
}
.spotbtn:hover{background-color: rgb(139, 255, 181);}
.spotbtn:active{background-color: rgb(17, 124, 56); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.gogbtn {
        border-color: rgb(110, 29, 114);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000;
        background-color: rgb(217, 217, 217);
        display: inline-block;
        box-shadow: 0 5px rgb(217, 217, 217);
        cursor: pointer;
}
.gogbtn:hover{background-color: rgb(192, 54, 199);}
.gogbtn:active{background-color: rgb(45, 11, 47); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.stackobtn {
        border-color: rgb(244, 128, 36);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        background-color: rgb(37, 38, 39);
        display: inline-block;
        box-shadow: 0 5px rgb(37, 38, 39);
        cursor: pointer;
}
.stackobtn:hover{background-color: rgb(233, 184, 143);}
.stackobtn:active{background-color: rgb(154, 86, 30); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.stackxbtn {
        border-color: rgb(25, 83, 152);
        border-radius: 50%;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000;
        background-color: rgb(253, 253, 253);
        display: inline-block;
        box-shadow: 0 5px rgb(253, 253, 253);
        cursor: pointer;
}
.stackxbtn:hover{background-color: rgb(25, 83, 152);}
.stackxbtn:active{background-color: rgb(25, 83, 152); box-shadow: 0 2.5px #171d25; transform: translateY(2.5px);}

.socials {
        position: fixed;
        float: left;
        left: 0;
        bottom: 10px;
        width: 100%;
        text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
        background-color: #333;
        overflow: hidden;
        border-radius: 12px;
        position: fixed;
        width: 100%;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        border-radius: 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Add an active class to highlight the current page */
      .active {
        background-color: #04AA6D;
        color: white;
        border-radius: 12px;
      }
      
      /* Hide the link that should open and close the topnav on small screens */
      .topnav .icon {
        display: none;
      }
      
      /* Dropdown container - needed to position the dropdown content */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Style the dropdown button to fit inside the topnav */
      .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        border-radius: 12px;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      /* Style the dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        border-radius: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Style the links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      /* Add a dark background on topnav links and the dropdown button on hover */
      .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #555;
        color: white;
        border-radius: 12px;
      }
      
      /* Add a grey background to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 12px;
      }
      
      /* Show the dropdown menu when the user moves the mouse over the dropdown button */
      .dropdown:hover .dropdown-content {
        display: block;
        position: fixed;
        border-radius: 12px;
      }
      
      /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child), .dropdown .dropbtn {
          display: none;
        }
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      
      /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
        .topnav.responsive .dropdown {float: none;}
        .topnav.responsive .dropdown-content {position: relative;}
        .topnav.responsive .dropdown .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
      }